<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.apache.commons.dbcp2.BasicDataSource" id="dataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://47.96.117.148:3306/test"/>
        <property name="username" value="root"/>
        <property name="password" value="123"/>
        <property name="initialSize" value="30"/>
    </bean>

    <bean class="cn.jhonyu.dao.impl.BookDaoimpl" id="bookDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean class="cn.jhonyu.dao.impl.BookDaoimpl2" id="bookDao2">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">
    <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>
